@use "minima/variables" as vars;
@use "minima/skins/auto" as auto;

html {
  font-size: vars.$base-font-size;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: vars.$base-font-weight #{vars.$base-font-size}/#{vars.$base-line-height} vars.$base-font-family;
  color: auto.$text-color;
  background-color: auto.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: vars.$spacing-unit * .5;
}

hr {
  margin-top: vars.$spacing-unit;
  margin-bottom: vars.$spacing-unit;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: vars.$small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: vars.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: vars.$base-font-weight;
}



/**
 * Links
 */
a {
  color: auto.$link-base-color;
  text-decoration: none;

  &:visited {
    color: auto.$link-visited-color;
  }

  &:hover {
    color: auto.$link-hover-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: auto.$brand-color;
  border-left: 4px solid auto.$border-color-01;
  padding-left: vars.$spacing-unit * .5;
  @include vars.relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: vars.$code-font-family;
  font-size: 0.9375em;
  border: 1px solid auto.$border-color-01;
  border-radius: 3px;
  background-color: auto.$code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: auto.$code-background-color;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: auto.$code-background-color;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: vars.$content-width;
  margin: 0 auto;
  padding: 0 vars.$spacing-unit;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}


/**
 * Tables
 */
table {
  margin-bottom: vars.$spacing-unit;
  width: 100%;
  text-align: vars.$table-text-align;
  color: auto.$table-text-color;
  border-collapse: collapse;
  border: 1px solid auto.$table-border-color;
  tr {
    &:nth-child(even) {
      background-color: auto.$table-zebra-color;
    }
  }
  th, td {
    padding: (vars.$spacing-unit * 33.3333333333 * .01) (vars.$spacing-unit * .5);
  }
  th {
    background-color: auto.$table-header-bg-color;
    border: 1px solid auto.$table-header-border;
  }
  td {
    border: 1px solid auto.$table-border-color;
  }

  @include vars.media-query(vars.$on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
